<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center p-4 h-75 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <h4>Conéctate conmigo en las<span class="purple"> redes sociales:</span></h4>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div class="rrss">
        <a href="https://www.instagram.com/__.juancho._?igsh=MWRwajFtanNtamJkcg==" target="_blank" class="me-4 text-reset">
          <i class="fab fa-instagram fa-2x"></i>
        </a>
        <a href="https://www.linkedin.com/in/juanignacioirala" target="_blank" class="me-4 text-reset">
          <i class="fab fa-linkedin fa-2x"></i>
        </a>
        <a href="https://wa.me/+541157569571" target="_blank" class="me-4 text-reset">
          <i class="fab fa-whatsapp fa-2x"></i>
        </a>
        <a href="https://github.com/Juancho1999" target="_blank" class="me-4 text-reset">
            <i class="fab fa-github fa-2x"></i>
          </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="pie-links">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>¡Recordatorio!
            </h6>
            <p>
              Si llegaste hasta aca, 
              espero te haya gustado el sitio,
              te agradezo mucho la visita y te deseo un gran 2025.
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Menú
            </h6>
            <p>
              <a routerLink="/" routerLinkActive="active"(click)="scrollToTop()" class="text-reset">Home</a>
            </p>
            <p>
              <a routerLink="/about" routerLinkActive="active"(click)="scrollToTop()" class="text-reset">Acerca de mi</a>
            </p>
            <p>
              <a routerLink="/redes" routerLinkActive="active"(click)="scrollToTop()" class="text-reset">Redes sociales</a>
            </p>
            <p>
              <a routerLink="/contacto" routerLinkActive="active"(click)="scrollToTop()" class="text-reset">Contacto</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
            <p><i class="fas fa-home me-3"></i>Buenos Aires, Avellaneda</p>
            <p>
              <i class="fas fa-envelope me-3"></i>iralajuan099&#64;gmail.com
            </p>
            <p><i class="fas fa-mobile me-3"></i> + 54 115756****</p>
            <p><i class="fas fa-phone me-3"></i> + 11 2201****</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2025 Copyright:
      <a class="text-reset fw-bold" href="">Juan Ignacio Irala</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->