<!--<div class="title-container">
    <h1 class="blockquote">Seguime en mis redes!</h1>
</div>

<div class="redes-container row row-cols-1 row-cols-md-5 g-5">
    <div class="col">
      <a href="" class="card ig">
        <img src="assets/images/instagram.png" class="card-img-top" alt="Instagram"/>
        <div class="card-body border-top border-3">
          <h3 class="card-title text-center">Instagram</h3>
        </div>
        </a>
    </div>
    <div class="col">
      <a href="" class="card wsp">
        <img src="assets/images/whatsapp.jpg" class="card-img-top" alt="Whatsapp"/>
        <div class="card-body border-top border-3">
          <h3 class="card-title text-center">Whatsapp</h3>
        </div>
     </a>
    </div>
    <div class="col">
        <a href="" class="card">
          <img src="assets/images/git.png" class="card-img-top" alt="Github"/>
          <div class="card-body border-top border-3">
            <h3 class="card-title text-center">Github</h3>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="" class="card gle">
          <img src="assets/images/mail.jpg" class="card-img-top" alt="Gmail"/>
          <div class="card-body border-top border-3">
            <h3 class="card-title text-center">Gmail</h3>
          </div>
        </a>
      </div>-->

      <div class="box">
        <div class="container">
          <h3>Seguime en mis redes</h3>
           <div class="row">
           
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                   
              <div class="box-part text-center">
                            
                <i class="fab fa-instagram fa-3x" aria-hidden="true"></i>
                            
                <div class="title">
                  <h4>Instagram</h4>
                </div>
                            
                <div class="text">
                  <span>Podes seguirme accediendo al perfil de mi instagram, que lo dejo abajo en el siguiente enlace.</span>
                </div>
                            
                <a href="https://www.instagram.com/__.juancho._?igsh=MWRwajFtanNtamJkcg=="  target="_blank">Aqui</a>
                            
               </div>
            </div>	 

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                   
              <div class="box-part text-center">
                            
                            <i class="fab fa-github fa-3x" aria-hidden="true"></i>
                            
                <div class="title">
                  <h4>Github</h4>
                </div>
                            
                <div class="text">
                  <span>Si deseas ver algunos de mis proyectos, te dejo el enlace de porfolio en github.</span>
                </div>
                            
                <a href="https://github.com/Juancho1999"  target="_blank">Aqui</a>
                            
               </div>
            </div>
            
             <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                   
              <div class="box-part text-center">
                  
                  <i class="fab fa-whatsapp fa-3x" aria-hidden="true"></i>
                        
                <div class="title">
                  <h4>Whatsapp</h4>
                </div>
                            
                <div class="text">
                  <span>Si queres comunicarte conmigo, a continuacion te dejo un enlace para que puedas enviarme un mensaje.</span>
                </div>
                            
                <a href="https://wa.me/+541157569571"  target="_blank">Aqui</a>
                            
               </div>
            </div>	 
            
             <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                   
              <div class="box-part text-center">
                            
                            <i class="fab fa-linkedin fa-3x" aria-hidden="true"></i>
                            
                <div class="title">
                  <h4>Linkedin</h4>
                </div>
                            
                <div class="text">
                  <span>Si deseas comunicarte via mail, te dejo mi contacto de Gmail en el enlace de abajo</span>
                </div>
                            
                <a href="https://www.linkedin.com/in/juanignacioirala" target="_blank">Aqui</a>
                            
               </div>
            </div>	 

        </div>		
        </div>
    </div>