<div class="banner-container d-flex row align-items-center">
    <div class="col-md-6">
        <img src="assets/images/develope.png" style="max-height: 450px;" alt="Developer">
    </div>
    <div class="col-md-4">
        <h1 class="heading" style="padding-bottom: 15px;">Bienvenido/a! <span class="wave">👋🏻</span></h1>
        <h1 class="heading-name">Soy <strong class="main-name">Juan Ignacio Irala</strong></h1>
        <br>
        <div class="typewriter">
            <h1><strong class="main-name">Software Developer.</strong></h1>
        </div>
    </div>
</div>
