<div class="home-about-section container-fluid">
    <div class="container">
        <div class="row">
                <div class="home-about-description col-md-7">
                    <h1>DEJAME
                    <span class="purple"> PRESENTARME </span>
                    </h1>
                    <p class="home-about-body">Soy un desarrollador de
                        <b class="purple">Angular y React </b>con experiencia en la creación de aplicaciones web dinámicas y escalables. Me centro en el código limpio, la optimización del rendimiento y los diseños fáciles de usar.<br><br>Siempre que sea posible, busco aplicar mis conocimientos en el desarrollo de productos utilizando <b class="purple">Node.js, Express, and PostgreSQL</b> y<i><b class="purple">  bibliotecas y marcos de Javascript modernos</b></i>&nbsp; como<i><b class="purple"> Angular y React</b> para crear aplicaciones robustas y escalables.</i>
                    </p>
                     
                </div>
                <div class="myAvtar col-md-5">
                    <img src="assets/images/myAvatar.png" style="max-height: 210px;" class="img-fluid" alt="avatar">
                </div>
        </div>
    </div>
</div>
